<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <h1 class="text-center">User List</h1>
    <table class="table table-striped w-50 mx-auto">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/user/{id}(id=${user.id})}">View</a>
                    <button th:data-user-id="${user.id}" class="btn btn-danger my-delete-button" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body" class="modal-body">
                    Are you sure you want to delete the user?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a id="delete-user-link" type="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/modalData.js}"></script>
</body>
</html>